main {
  background-color: black;
}

.logo
{
  text-align: center;
}

.header {
  text-align: center;
  margin-bottom:0px;
}

.headerDesc {
  text-align: center;
  margin-top: 0px;
}

.version {
  text-align: center;
  margin-top: 0px;
  font-size: 0.8em;
  color:lightgray;
}
