#if ( $ctx.error )
  $util.error($ctx.error.message, $ctx.error.type)
#end

#if($context.result.items.size() > 0 && !$context.identity.groups.contains("Admin"))
  #set($ownerFilter = [])
  #foreach($item in $context.result.items)
    #if("$item.owner" == "$context.identity.username")
      $util.qr($ownerFilter.add($item))
    #end
  #end
  {
    "items": $ownerFilter,
    "nextToken": "$context.result.nextToken"
  }
#else
  $utils.toJson($context.result)
#end