## List Virtual Participants Request Mapping Template
{
  "version": "2018-05-29",
  "operation": "Scan",
  "filter": {
    "expression": "begins_with(#pk, :vpPrefix)",
    "expressionNames": {
      "#pk": "PK"
    },
    "expressionValues": {
      ":vpPrefix": $util.dynamodb.toDynamoDBJson("vp#")
    }
  }
}
