## List Virtual Participants Request Mapping Template
{
  "version": "2018-05-29",
  "operation": "Scan",
  "filter": {
    "expression": "#owner = :owner AND begins_with(#pk, :vpPrefix)",
    "expressionNames": {
      "#owner": "Owner",
      "#pk": "PK"
    },
    "expressionValues": {
      ":owner": $util.dynamodb.toDynamoDBJson($ctx.identity.claims.email),
      ":vpPrefix": $util.dynamodb.toDynamoDBJson("vp#")
    }
  }
}
